{% extends 'JuRibyBundle:Layout:base.html.twig' %}

{% block metas %}
    <title>Juliette Riby - Non trouvé</title>
{% endblock %}
{% block scripts %}{% endblock %}
{% block header %}{% endblock %}

{% block body %}
    <span class="error">Sorry, the page was not found</span>
{% endblock %}
