{% extends 'JuRibyBundle:Layout:base.html.twig' %}

{% block metas %}
    <title>Juliette Riby - Erreur</title>
{% endblock %}
{% block scripts %}{% endblock %}
{% block header %}{% endblock %}

{% block body %}
    <span class="error">Sorry, an unexpected error occured</span>
{% endblock %}
